[project]
	description = SteamKit2 is a .NET library designed to interoperate with Valve's Steam network. It aims to provide a simple, yet extensible, interface to perform various actions on the network.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikita (RedDevilHat)
[access "refs/for/refs/*"]
	read = group user/Nikita (RedDevilHat)
	push = group user/Nikita (RedDevilHat)
	label-Code-Review = -2..+2 group user/Nikita (RedDevilHat)
	label-Verified = -1..+1 group user/Nikita (RedDevilHat)
	rebase = group user/Nikita (RedDevilHat)
	removeReviewer = group user/Nikita (RedDevilHat)
	submit = group user/Nikita (RedDevilHat)
[access "refs/heads/*"]
	read = group user/Nikita (RedDevilHat)
	create = group user/Nikita (RedDevilHat)
	push = +force group user/Nikita (RedDevilHat)
	pushMerge = group user/Nikita (RedDevilHat)
[access "refs/tags/*"]
	push = +force group user/Nikita (RedDevilHat)
	pushTag = group user/Nikita (RedDevilHat)
	pushSignedTag = group user/Nikita (RedDevilHat)
